################################################################################
# .gitignore
################################################################################

# Build directories
/build/
/cmake-build*/

# CMake files
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
compile_commands.json

# Binaries and objects
*.out
*.o
*.a
*.so
*.exe

# Conda, logs and environments
*.conda
*.log
.env

# IDE/editor folders
.vscode/
.idea/

# Specific files and directories
ext/mafft/linux/usr
ext/mafft/mafft-*/binaries/*
output.fmaligned2.fasta
FMAlign2*
order
pre
trace
temp/